<div class="static my-20  px-10">
    <div>
        <div>
            <h1 class="text-gray-400 text-sm">Home / Anime by year</h1>
        </div>
        <div class="flex flex-row justify-between py-4 w-full bg-blue-600 rounded-lg my-4  px-10">
            <div class="flex items-center gap-4  w-3/12 ">
                <img class="w-14 h-14 rounded-full bg-white p-1"
                    src="../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
                <div class="font-medium text-white">
                    <div> Priyanshu Chandra</div>
                    <div class="text-sm text-gray-200 dark:text-gray-400">Joined in August 2014</div>
                </div>
            </div>
            <div class="flex flex-row justify-center items-center gap-4">
                <h1 class="text-2xl text-white font-bold">ANIME BY YEAR</h1>
                <p class="h-4 w-4 bg-green-300 rounded-full"> </p>
            </div>
        </div>
        <div class="mb-5">

            <form class=" mx-auto">
                <div class="flex flex-row justify-between items-center gap-8">
                    <!-- search -->
                    <div class="flex flex-row w-96">
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <input id="aby-search-input" type="text" id="simple-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 w-full"
                                placeholder="Search anime name..." required />
                        </div>
                        <button onclick="aby_search_by_text();" type="submit"
                            class="py-2.5 px-5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span class="sr-only px-">Search</span>
                        </button>
                    </div>
                    <!-- search by category -->
                    <div id="aby-search-category " class="w-56">
                        <div id="aby-search-category" class="w-56">
                            <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option selected>Choose Category</option>
                        
                                <optgroup label="Main Genres" class="text-gray-700">
                                    <option value="AC">Action</option>
                                    <option value="AD">Adventure</option>
                                    <option value="CO">Comedy</option>
                                    <option value="DR">Drama</option>
                                    <option value="FA">Fantasy</option>
                                    <option value="HR">Harem</option>
                                    <option value="HO">Horror</option>
                                    <option value="IS">Isekai</option>
                                    <option value="ME">Mecha</option>
                                    <option value="MY">Mystery</option>
                                    <option value="RO">Romance</option>
                                    <option value="SF">Sci-Fi</option>
                                    <option value="SL">Slice of Life</option>
                                    <option value="SP">Sports</option>
                                    <option value="SU">Supernatural</option>
                                    <option value="PY">Psychological</option>
                                    <option value="HI">Historical</option>
                                    <option value="SH">Superhero</option>
                                </optgroup>
                        
                                <optgroup label="Special Genres" class="text-gray-700">
                                    <option value="ID">Idol</option>
                                    <option value="KO">Kodomomuke</option>
                                    <option value="DE">Seinen</option>
                                    <option value="JO">Josei</option>
                                    <option value="EC">Ecchi</option>
                                    <option value="HT">Hentai</option>
                                    <option value="PA">Post-Apocalyptic</option>
                                    <option value="MF">Metafictional</option>
                                    <option value="MU">Music</option>
                                    <option value="DF">Dark Fantasy</option>
                                    <option value="MA">Martial Arts</option>
                                    <option value="DEMO">Demons</option>
                                    <option value="PHO">Psychological Horror</option>
                                    <option value="SU">Survival</option>
                                    <option value="FA">Family</option>
                                    <option value="SFH">Sci-Fi Horror</option>
                                    <option value="FAH">Fantasy Horror</option>
                                    <option value="BIS">Bishojo</option>
                                    <option value="BIA">Bishonen</option>
                                    <option value="GA">Gag</option>
                                    <option value="SHOAI">Shoujo Ai (Girls Love)</option>
                                    <option value="SHOAN">Shounen Ai (Boys Love)</option>
                                    <option value="PYT">Psychological Thriller</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <!-- search-by-year -->
                    <div id="aby-search-year" class="w-56">
                        <select
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ">
                            <option selected>year</option>
                            <option value="1900-10">1900-10</option>
                            <option value="1910-20">1910-20</option>
                            <option value="1920-30">1920-30</option>
                            <option value="1930-40">1930-40</option>
                            <option value="1940-50">1940-50</option>
                            <option value="1950-60">1950-60</option>
                            <option value="1960-70">1960-70</option>
                            <option value="1970-80">1970-80</option>
                            <option value="1980-90">1980-90</option>
                            <option value="1990-2000">1990-2000</option>
                            <option value="2000-10">2000-10</option>
                            <option value="2010-20">2010-20</option>
                            <option value="2020-current">2020-current</option>

                        </select>
                    </div>
                    <!--search-by-seaons  -->
                    <div id="aby-search-season" class="w-56">
                        <select
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ">
                            <option selected>Season </option>
                            <option value="winter">Winter </option>
                            <option value="spring">spring </option>
                            <option value="summer">summer </option>
                            <option value="fall">fall </option>
                        </select>
                    </div>
                    <div id="aby-search-types" class="w-56">
                    <select 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>Choose Anime Type</option>
                    <option value="TV">TV Series (TV Anime)</option>
                    <option value="MOV">Movies (Anime Films)</option>
                    <option value="OVA">OVA (Original Video Animation)</option>
                    <option value="ONA">ONA (Original Net Animation)</option>
                    <option value="SP">Specials</option>
                    <option value="TS">Theatrical Shorts</option>
                    <option value="RE">Recap Episodes</option>
                    <option value="AN">Anthology</option>
                    <option value="WE">Web Anime (Web Series)</option>
                    <option value="MV">Music Videos (Anime PVs/MVs)</option>
                    <option value="DA">Doujin Anime</option>
                    <option value="CR">Crossover Anime</option>
                    <option value="PI">Pilots</option>
                </select>
                
                    </div>
                    <div>
                        <button class="bg-black text-white px-4 py-2 rounded-lg">
                            <i class=" text-2xl fa-solid fa-bars-progress"></i>
                        </button>

                    </div>
                </div>

            </form>

        </div>
        <div class="mb-4">
            <h1 class="text-bold">Anime details</h1>
        </div>
    </div>
    <div class="relative">
        <div id="aby-result-container" class=" grid grid-cols-4 gap-8 bg-violet-500 py-10 px-10 rounded-lg">
            <% for(i=0;i<anime_data.length;i++){%>
                <div class="aby-result-container-cards max-w-sm bg-white shadow-lg border-4 rounded-lg shadow ">
                    <a href="#">
                        <img class="rounded-t-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg"
                            alt="" />
                    </a>
                    <div class="p-5 flex flex-col justify-between">
                        <div>
                            <h5 class="anime_by_year_name mb-2 text-lg font-bold tracking-tight text-blue-700 ">
                                <%=anime_data[i]["anime_name"] %>
                            </h5>
                            <p class="anime_by_year_plot mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">
                                <%=anime_data[i]["anime_plot"]%>
                            </p>
                        </div>
                        <div class="pb-2">
                            <p class="aby-release-year text-xs font-medium text-red-600">Release date:
                                <%=anime_data[i]["release_year"]%>
                            </p>
                        </div>
                        <div>
                            <button type="button"
                                class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-2.5 me-1 mb-2 "><i
                                    class="fa-brands fa-youtube"></i> Watch Trailer</button>
                            <button onclick='readmore_open(<%= JSON.stringify(anime_data[i]) %>)'
                                class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-2.5 me-1 mb-2">
                                <i class="fa-solid fa-circle-info"></i> Read More
                            </button>

                            <button type="button"
                                class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-2.5 me-1 mb-2 "><i
                                    class="fa-solid fa-plus"></i></button>

                        </div>
                    </div>
                </div>
                <% }%>
        </div>
        <!-- aby loader -->
        <%-include('./aby-loader')%>
    </div>

    <!-- overlay page -->
    <%-include('./readmore/readmore-container')%>

</div>
<script src="../../../public/responsive/anime-vault/anime-by-year/anime-by-year-main.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/anime-by-year-readmore.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/search-action/search-types-handle.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/search-action/not-found.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/load-aby-cards.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/search-action/search-by-year.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/search-action/search-by-season.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/search-action/by-category.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/search-action/search-by-text.js"></script>
<script src="../../../public/responsive/anime-vault/anime-by-year/search-action/search-by-type.js"></script>

