<div class="bg-gray-100 rounded-lg">
    <div class="container mx-auto p-5 ">
        <div class="flex sm:flex-row md:flex-row lg:flex-row flex-col md:-mx-2 ">
            <!-- Left Side -->
            <div class="w-full md:w-3/12 md:mx-2">
                <!-- Profile Card -->
                <div class=" bg-white p-3  rounded-lg ">
                    <div class="image overflow-hidden">
                        <img class="h-auto w-full mx-auto rounded-lg" src=<%=profilePicture %> alt="">
                    </div>
                    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">
                        <%= username %>
                    </h1>
                    <h3 class="text-gray-600 font-lg text-semibold leading-6">user</h3>
                    <!-- <p class="text-sm text-gray-500 hover:text-gray-600 leading-6"></p> -->
                    <ul
                        class="bg-blue-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                        <li class="flex items-center py-3 border-b border-indigo-200">
                            <span>Status</span>
                            <span class="ml-auto"><span
                                    class="bg-green-300 py-1 px-2 rounded-lg text-white text-sm"><span
                                        class="text-green-800 font-medium">Active</span></span></span>
                        </li>
                        <!-- <li class="flex items-center py-3">
                            <span>Member since</span>
                            <span class="ml-auto">Nov 07, 2016</span>
                        </li> -->
                    </ul>
                </div>
                <!-- End of profile card -->
                <div class="my-4"></div>
                <!-- Similar card -->
                <div class="hidden bg-white p-3 hover:shadow rounded-lg">
                    <div class="flex items-center space-x-3 font-semibold text-gray-900 text-xl leading-8">
                        <span class="text-black">
                            <i class="fa-solid fa-person"></i>
                        </span>
                        <span>Similar Profiles</span>
                    </div>
                    <div class="grid grid-cols-3">
                        <div class="text-center my-2">
                            <img class="h-16 w-16 rounded-full mx-auto"
                                src="../../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
                            <a href="#" class="text-main-color">Priyanshu</a>
                        </div>
                        <div class="text-center my-2">
                            <img class="h-16 w-16 rounded-full mx-auto"
                                src="../../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
                            <a href="#" class="text-main-color">Priyanshu</a>
                        </div>
                        <div class="text-center my-2">
                            <img class="h-16 w-16 rounded-full mx-auto"
                                src="../../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
                            <a href="#" class="text-main-color">Priyanshu</a>
                        </div>
                    </div>
                </div>
                <!-- End of friends card -->
            </div>
            <!-- Right Side -->
            <div class="w-full md:w-9/12 md:mx-2 ">
                <!-- Profile tab -->
                <!--Start of General Information -->
                <%- include('user-general-information')%>
                    <!-- End of General information -->

                    <!-- start of user depth information -->
                    <div class="my-4">
                        <%-include('user-depth-information')%>
                    </div>
                    <!-- End of user depth information -->
                     
                    <!-- Posts-->
                    <div class="hidden bg-white p-3 shadow-sm rounded-lg ">
                        <div class="flex flex-row justify-between px-10">
                            <h1 class="text-xl font-medium">Posts </h1>
                            <button class="bg-gray-400 text-white px-2 py-1 rounded-lg"><i class="fa-solid fa-plus"></i>
                                Add</button>
                        </div>

                        <div class="border border-dashed mx-4 rounded-lg mt-2">
                            <div class="grid grid-cols-2 px-6 py-4">
                                <div>
                                    <div>
                                        <h1 class="text-lg font-medium">In Progress</h1>
                                    </div>
                                    <div>
                                        <%- include('tasks/to-do') %>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h1 class="text-lg font-medium">Done</h1>
                                    </div>
                                    <div>
                                        <%- include('tasks/done') %>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- End of Experience and education grid -->
                    </div>
                    <!-- End of Posts -->
            </div>
        </div>
    </div>
</div>